.sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    height: 100%;
    width: 250px;
    background-color: #333;
    transition: all 0.3s ease-in-out;
}

.sidebar.open {
    left: 0;
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.sidebar-nav {
    padding-top: 60px;
}

.sidebar-nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

.nav-link:hover {
    background-color: #fff;
    color: #333;
}

.sidebar-toggle {
    position: absolute;
    top: 20px;
    left: 10px;
    font-size: 1.5rem;
    color: #fff;
    background-color: transparent;
    border: none;
    cursor: pointer;
}


.DashBoardPage-container {
    /* background-color: aqua; */
    margin-left: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}

.Leadertest-container {
    max-width: 1200px;
    padding: 50px 20px;
    margin-left: 250px;
}

.Leadertest-title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 20px;
}

.Leadertest-test {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.Leadertest-test-container {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    padding: 20px;
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
}

.Leadertest-test-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.Leadertest-test-duration,
.Leadertest-test-year {
    font-size: 18px;
    margin-bottom: 10px;
}

.Leadertest-btn,
.Leadertest-btn-doing {
    display: inline-block;
    padding: 10px;
    background-color: rgb(85, 85, 85);
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.2s ease-in-out;
    width: 100%;
}

.Leadertest-btn:hover,
.Leadertest-btn-doing:hover {
    background-color: #0062cc;
}

.Leadertest-btn-doing {
    background-color: #ffc107;
}